.button {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 225);
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    /* margin-top: 70px;
    margin-left: 80px;
    padding-left: 30px;
    padding-right: 30px; */

}

.button:hover {
    color: white;
    background-color: black;
    box-shadow: 3px 3px 1px 1px rgba(16, 16, 19, 0.2);

}



.sent1 {
    align-items: center
}