.business {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35rem;
    margin-top: 10px;
    border: 1px solid black;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2em;
}

.business-image {
    width: 18rem;
    height: auto;
    
}



