.business {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35rem;
    margin-top: 10px;
    border: 1px solid black;
    align-items: center;
}

.business-image {
    width: 18rem;
    height: 10rem;
}



