.tinder{
    font-weight: bolder;
    color:white;
    font-family:Apple Chancery;
   display:flex;
   margin-right: 5vh;
   padding-top: 10px;



    
 }
 .container{
    width:100%;
    margin-left: -1%;
    margin-bottom: 10px;
    
    
 }
 img{
    width: 40px;
    
}
