.change-date {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

.text {
    font-size: 100%;
    margin-bottom: 2em;
    font: italic bold 1.5em "Fira Sans", serif;
}
 .invite-pic {

     background-image: url("invitation.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 120vh;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas:
         ". ."
         ". .";
    

 }
 .Change{
    height: 120vh;
    width: 460px;
    padding: 15px;
    color: rgb(57, 2, 2);
    border: 1px rgb(18, 1, 1);
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.333);
    margin-bottom: none;
        
 }
 .creating-invite{
    font-size: 100%;
    font: bold 1.1em "Fira Sans", serif;
 }
 .timeAndDate-img{
    width: 100%;
    margin-top: 2em;
 }
 .change{
    color: rgb(236, 244, 245);
        background-color: rgba(255, 0, 0, 0.916);
        border-radius: 5px;
        font-family: Helvetica, sans-serif;
        margin-top: 20px;
        margin-left: 100px;
 }
 .change:hover {
    color: white;
    background-color: black;
    box-shadow: 3px 3px 1px 1px rgba(16, 16, 19, 0.2);
 }
 .save-date{
color: rgb(236, 244, 245);
    background-color: rgba(255, 0, 0, 0.916);
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    
 }
 .save-date:hover {
     color: white;
     background-color: black;
     box-shadow: 3px 3px 1px 1px rgba(16, 16, 19, 0.2);
 }
 .pro-tip{
    font-family: Helvetica, sans-serif;
    font-size:140%;
    margin-top: 2.5em;
 }
