  
  .wrapper {
    background-color: white;
    width: 400px;
    padding: 2rem;
    box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    display: flex;
    
  }

  .input {
    display: flex;
    
  }
  

  .input.has-error {
    border-color: tomato;
  }
  
  .error {
    margin: 0;
    font-size: 90%;
    color: tomato;
  }
  
  .tag-item {
    position:relative;
    background-color: #d4d5d6;
    font-size: 14px;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0.3rem 0.3rem 0;
  }
  
  .tag-item > .button {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .search {
    margin-top: 2em;
    font-size: 100%;
    font:  1.2em "Fira Sans", serif;
  }

  .emails {
    margin-top: 2em;
    font-size: 100%;
    font: 1.2em "Fira Sans", serif;
  }

  .submit-btn {
    margin-top: 1em;
  }
    .add-email-text{
      font-size: 100%;
    }
    .save{
      color: rgb(0, 0, 0);
        background-color: rgb(0, 255, 225);
        border-radius: 5px;
        font-family: Helvetica, sans-serif;
    }
    .save:hover {
    color: white;
    background-color: black;
    box-shadow: 3px 3px 1px 1px rgba(16, 16, 19, 0.2);
            }
    .return-home{
      color: rgb(0, 0, 0);
        background-color: rgb(0, 255, 225);
        border-radius: 5px;
        font-family: Helvetica, sans-serif;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 20px;
    }
        .return-home:hover {
          color: white;
          background-color: black;
          box-shadow: 3px 3px 1px 1px rgba(16, 16, 19, 0.2);
        }   